<div class="create-new-client" title="Create New Client">
    <form>
        <fieldset>
            <label><span>Client name</span> <input type="text" name="name" /></label>
        </fieldset>
    </form>
</div>