<div class="create-new-task" title="Create New Task">
    <form>
        <fieldset>
            <label><span>Task name</span> <input type="text" name="name" /></label>
        </fieldset>
    </form>
</div>