<div class="client-list-title">
	Clients List
</div>
<div class="add-client">
	add client
</div>
<table class="clients-table">
	<tr>
		<thead>
			<th scope="col"><div class="client-t-top-name">Client name</div></th>
			<th scope="col"><div class="client-t-top-name">Billed</div></th>
			<th scope="col"><div class="client-t-top-name">Invoiced</div></th>
			<th scope="col"><div class="client-t-top-name">Tasks</div></th>
		</thead>
	</tr>
	<!-- This will be filled programaticly -->

	<% $.each(this, function(i, client) { %>
	<tr <%= ($el) -> $el.model(new TTI.Models.Client(client)) %>>
		<td class="client-name-td">
			<%= client.name %>
			<div <%= function($el){$el.link = "#task-container"+i; return $el.link;} %> id="task-for-client-id" style="color: red;" class="open-task"></div>
			
		</td>
		<td><%= client.billed %></td>
		<td><%= client.invoiced %></td>
		<td>
			<%= $.makeArray(client.tasks).length + 1 %>
			<div class="remove-client"></div>
		</td>
	</tr>
	<tr>
		<td class="task-td" colspan="4">
			<div id="task-container<%=i %>" class="task-div-container">
			</div>
		</td>
	<tr>
	<% }) %>
</table>
