<table class="client-task-table">
	<thead>
		<tr>
			<td>
				<div class="add-task">add new task</div>
				Task name
			</td>
			<td>Logged hours</td>
		<tr>
	</thead>
<% $.each(this, function(i, task) {
	if  (typeof task == "object"){ %>
	<tr <%= ($el) -> $el.model(new TTI.Models.Task(task)) %>>
		<td><%= task.name %></td>
		<td><%= task.hours %></td>
	</tr>
<% }}) %>
</table>