<div class="create-new-task-dialog-form" title="Create New Task">
    <form>
        <% var clients = []; 
           var tasks = [];
         $.each(this, function(i, client) { 
           clients.push( {value: client.id,    text: client.name });
         }) 
         %>
        <fieldset>
            <label>Client:</label><div><%==select_tag('client_id', 1, clients)%></div>
            <label>Tasks:</label><div><%==select_tag('task_id', 0, tasks)%></div>
            <label>Hours:</label> <div><input type="text" name="hours" /></div>
            <!-- <label><span>Task ID</span> <input type="text" name="task-id" /></label> -->
            <label>Description:</label> <div><textarea cols='30' rows='4' name="description" /></div>
            <label>Note:</label> <div><textarea cols='30' rows='4' name="note" /></div>
        </fieldset>
    </form>
</div>
