<table summary="Time Tracker list of tasks.">
    <thead>
        <tr>
            <th scope="col">Hours</th>
            <th scope="col">Cost</th>
            <th scope="col">Task ID</th>
            <th scope="col">Description</th>
            <th scope="col">Note</th>
            <!-- <th scope="col">Delete</th>-->
        </tr>
    </thead>
    <tbody>
        <% $.each(this, function(i, task) { %>
            <tr <%= ($el) -> $el.model(new TTI.Models.Task(task)) %> >
                <td>
                    <%= task.hours %>
                </td>
                <td>
                </td>
                <td>
                    <%= task.id %>
                </td>
                <td>
                    <%= task.description %>
                </td>
                <td>
                    <%= task.note %>
                </td>
                <!--
                <td>
                   <span class="delete-task">x</span>
                   
                </td>
                -->
            </tr>
        <% }) %>
    </tbody>
</table>
<span class="add-task">Add Task</span>
<div class="buttons" style="display:none;">
  <span class="update-task">E</span>
  <span class="delete-task">D</span>
</div>                
