<% $.each(this, function(i, todo) { %>
 <% console.log(this); %>
    <li <%= ($el) -> $el.model(todo) %>>
        <strong><%= todo.name %></strong>
        <em class="destroy">delete</em>
    </li>

<% }) %>
