div div.add-client {
    margin-bottom: 5px;
    margin-top: 2px;
    position: relative;
    top: 31px;
    left: 8px;
}

.task-div-container table td div.add-task {
	float: left;
	display: inline-block;
	position: relative;
	bottom: 1px;
	margin-top: 0px!important;
	margin-left: 10px;
}