html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  min-height: 100px; }

html,
body {
  color: #3e4246;
  background: #f6f6f7;
  font: 11px/18px "Helvetica Neue", Helvetica, Verdana, sans-serif; }

input,
select,
textarea {
  font: 12px/18px "Helvetica Neue", Helvetica, Verdana, sans-serif; }

table {
  width: 100%;
  border: 1px solid #7489a1; 
}
  table thead {
    color: #f6f6f7;
    background: #5c94bf; }
    table thead tr:last-child {
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      -moz-border-radius-bottomright: 5px;
      -moz-border-radius-bottomleft: 5px;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px; }
    table thead tr th {
      padding: 7px 0; }
  table tbody tr td {
    padding: 3px 0;
    border-bottom: 1px solid #7489a1;
    text-align: center; 
    padding-bottom: 0px;
}

#container {
  width: 1100px;
  margin: 0 auto; }
  #container #header {
    padding: 10px;
    height: 50px; }
    #container #header #main-navigation li {
      color: #9cba6e;
      cursor: pointer;
      text-decoration: none;
      margin-right: 7px;
      display: inline-block; }
      #container #header #main-navigation li:hover {
        text-decoration: underline; }
  #container h2 {
    font-size: 14px; }
  #container ol {
    margin: 7px;
    list-style-type: decimal;
    list-style-position: inside; }
  #container .add-task, .add-client, .add-task {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    padding: 0 7px;
    line-height: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 20px;
    color: #f6f6f7;
    background: #9cba6e; }
    #container .add-task:hover, .add-client:hover, .add-task:hover {
      background: #f8ae03; }

.task-div-container {
    /* display: none; */  
}
.client-list-title {
    font-weight: 900;
  
    margin-left: 5px;
    padding-bottom: 3px;
}
.client-task-table thead {
    border: 0px;
    color: #f6f6f7;
    background: #F6F6F7;
	
    color: black;
}
.client-task-table {
    background: rgb(240, 240, 240);
  
    border: 1px;
    color: black;
    /* margin-bottom: 21px; */
    /* width: 50%; */
}
.client td {
  
} 
.client td {
  background: rgb(221, 221, 221);
}
.open-task {
  background-image: url("../../images/arrow-down.png");
  background-size: 10px 10px;
  width: 10px;
  height: 10px;
  float: right;
  display: inline-table;
  margin-right: 6px;
  cursor: pointer;
  width: 10px;
  height: 10px;
  float: left;
  display: inline-table;
  margin-right: 6px;
  position: relative;
  left: 4px;
}

.open-task.open {
    -webkit-transform: rotate(180deg);   
    -moz-transform: rotate(180deg);   
    -ms-transform: rotate(180deg);   
    -o-transform: rotate(180deg);   
    transform: rotate(180deg);
  
}

.remove-client {
  background-image: url("../../images/remove.png");
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
  float: right;
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 10px;
  top: 2px;
  float: right;
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 15px;
}

/* Task update, delete, create buttons */

#container .delete-task {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    padding: 0 7px;
    line-height: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 0px;
    color: #f6f6f7;
    background: #9cba6e; 
}

#container .delete-task:hover {
      background: #f8ae03; 
}

#container .update-task {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    padding: 0 7px;
    line-height: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 0px;
    color: #f6f6f7;
    background: #9cba6e; 
}

#container .update-task:hover {
      background: #f8ae03; 
}
      
/* End of Task update, delete, create buttons */      
      
/* Task creation form styles */      
.create-new-task-dialog-form {
    width: 300px;
    border: 1px dashed #f0f;
    
}
.create-new-task-dialog-form label {
    float: top;
    margin-right: 5px;
    background: #fff
}
.create-new-task-dialog-form div {
    overflow: hidden;
}
.create-new-task-dialog-form input {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block
}
.create-new-task-dialog-form textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block
}
.create-new-task-dialog-form select {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block
}


/* End of Task creation form styles */

      
